backports.tarfile
black
cython
fqdn
gymnasium
importlib-metadata
inflect
isoduration
isort
jaraco-collections
jaraco-context
jaraco-functools
jaraco.collections
jsonpointer
jupyterlab
jupyterlab-code-formatter
mpl-axes-aligner
mplfinance
numpy-typing-compat
openpyxl
pandas-stubs
pip-chill
pip-review
pypdf
pyqtgraph
pyside6
rfc3987-syntax
scikit-learn
scipy-stubs
seaborn
statsmodels
ta
ta-lib
tinycss2
tomli
uri-template
webcolors
xlrd
xlwings
xlwt
yfinance
