backports.tarfile
black
fqdn
gymnasium
importlib-metadata
inflect
ipython-pygments-lexers
isoduration
isort
jaraco-collections
jaraco-functools
jaraco.collections
jsonpointer
jupyterlab
jupyterlab-code-formatter
mplfinance
numpy-typing-compat
openpyxl
overrides
pandas-stubs
pip-chill
pip-review
pyside6
rfc3987-syntax
scipy
scipy-stubs
seaborn
spyder-kernels
ta
ta-lib
tinycss2
tomli
torch
uri-template
webcolors
xlrd
xlwings
xlwt
yfinance
