ale-py
backports.tarfile
black
fqdn
importlib-metadata
inflect
ipython-pygments-lexers
isoduration
isort
jaraco-collections
jaraco-functools
jaraco.collections
jsonpointer
jupyterlab
jupyterlab-code-formatter
mplfinance
numpy-typing-compat
opencv-python
openpyxl
overrides
pandas-stubs
pip-chill
pip-review
pygame
pyside6
rfc3987-syntax
rich
sb3-contrib
scipy
scipy-stubs
seaborn
spyder-kernels
ta
ta-lib
tensorboard
tinycss2
tomli
tqdm
uri-template
webcolors
xlrd
xlwings
xlwt
yfinance
